.cartbtn {
  margin-top: 1rem;
  cursor: pointer;
  font: inherit;
  width: 10%;
  background-color: #7d63b9;
  color: white;
  display: flex;
  align-items:center;
  border-radius: 25px;
  justify-content: space-around;
}

.cartbtn img {
  width: 3rem;
  height: 3rem;
  margin-left: .1rem;
}

.cartbtn p {
  font-weight: bold;
}
